<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All You Can Cheat</title>
    <script>
        var editor;
    </script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/css.css">

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/js.js"></script>
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <i class="fa fa-2x fa-user-secret fa-vc" aria-hidden="true"></i>
    <a class="navbar-brand" href="#"> All You Can Cheat</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <span class="navbar-nav mr-auto"></span>
        <a href="#" class="btn btn-primary my-2 my-sm-0 mt-2 mt-md-0"><i class="fa fa-github"
                                                                         aria-hidden="true"></i> GitHub</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row full-height">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Essay
                        Plagiariser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Fake My Data</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 full-height">
            <h1>Essay Plagiariser</h1>
            <div class="row full-height">
                <div class="box">
                    <div class="box-main" id="editor"></div>
                    <div class="box-foot">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="alert alert-info" style="margin: 4px">
                                    Paste your essay in the box above
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn-group main-controls" style="margin: 4px">
                                    <button type="button" class="btn btn-lg btn-primary" id="pl-btn">
                                        <i class="fa fa-user-secret" aria-hidden="true"></i> Plagiarise
                                    </button>
                                    <button type="button" class="btn btn-lg btn-primary">
                                        <i class="fa fa-download" aria-hidden="true"></i> Download
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="static/js/ace.js" type="text/javascript" charset="utf-8"></script>
            <script>
                editor = ace.edit("editor");
                editor.getSession().setUseWrapMode(true);
                editor.setTheme("ace/theme/monokai");

            </script>
        </main>
    </div>
</div>
</body>
</html>