.full-height, body, html {
    height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.box-main {
  flex: 1 1 auto;
}

.box-foot {
  flex: 0 1 40px;
}

.main-controls {
  float: right;
}

.container-fluid {
  height: 80vh;
}

.fa-vc {
  color: #ffffff;
  margin-right: 16px;
}

.slider-selection {
	background: #BABABA;
}

#get-data {
    float: right;
}

#data-out {
    display: none;
}

.spinner {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000000;
    text-align: center;
    display: none;
}